<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\temp\source\repos\Term Paper\TestingSystem\TestServer\bin\Debug\netcoreapp3.1\TestingSystemDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>